/*@media screen and (min-width: 501px)*/
body{
    font-family: 'Mountains of Christmas', cursive;
    background-color:#E6C79C;
    color:#B80C09;
}

main{
    max-width:960px;
    background-color:#143109;
    margin:auto;
    text-align:center;
}
#game1, #game2{
    border: 1px dotted grey;
}
/*#game1, #game2 > div{*/
/*    background: url(/pics/back.jpg) no-repeat;*/
/*}*/
