/*@media screen and (min-width: 501px)*/
body{
     font-family: 'Raleway', sans-serif;
    background:url(christmassy.png);
    background-color:#E6C79C;
    color:#B80C09;
}
main{
    max-width:960px;
    margin:auto;
    text-align:center;
}
main h1 {
     font-family: 'Mountains of Christmas', cursive;
}
#game1, #game2{
    background:#003380;
    overflow:hidden;
    -webkit-box-shadow: 3px -2px 82px 21px rgba(16,10,38,1);
    -moz-box-shadow: 3px -2px 82px 21px rgba(16,10,38,1);
    box-shadow: 3px -2px 82px 21px rgba(16,10,38,1);
    margin:20px;
    margin:0 auto;
}
#game1 > div, #game2>div{
    float:left;
    width:75px;
    height:75px
}