/*@media screen and (max-width: 500px)*/
/*@media screen and (min-width: 501px)*/
body {
    background: #C6C8C5;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.board {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8em;
    margin: 0 auto;
    background: #787878;
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
}
.board h1{
   font-family: 'Londrina Outline', cursive;
}

.messageInput {
    width:290px;
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
     outline: 0;
    -webkit-appearance: none;
}
.messageInput:focus {
    border-color: #430F29;
}
.messages{
    width:290px;
     border: 1px #C6C8C5;
     background:white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin:3px;
    outline: 0;
    -webkit-appearance: none;
    font-size:0.9em;
       }
 
.text {
float:left;
padding:0 4px 0 4px;
margin:0 4px 0 4px;
}
.time{
    float:right;
   padding:0 4px 0 4px;
margin:0 4px 0 4px;
}
a{
  
    display:inline-block;
}

.counter{
    font-size:0.7em;
    padding:0;
    margin:0 0 0 185px;
    
}
.submitMessage{
background:#C6C8C5;
color:#430F29;
text-shadow:none;
border-radius:200px;
font-size:14px;
padding:10px 70px;
text-transform:uppercase;
border:0;
box-shadow: none;
text-shadow:none;
}
