/*@media screen and (min-width: 501px)*/
body {
    background: #C6C8C5;
    color: black;
    font-family: 'Raleway', sans-serif;
}

#board1, #board2  {
    width: 300px;
    margin: 0 auto;
    text-align: center;
     margin: 0 auto;
    background: #787878;
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
}
#board1 h1, #board2 h1{
   font-family: 'Londrina Outline', cursive;
}

.messageInputboard1,.messageInputboard2 {
    width:290px;
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    outline: 0;
    padding-left:5px;
    padding-right:5px;
    -webkit-appearance: none;
}
.messageInputboard1:focus, .messageInputboard2:focus  {
    border-color: #430F29;
}
.messageboard1, .messageboard2{
    position:relative;
    width:290px;
    min-height:30px;
     border: 1px #C6C8C5;
     background:white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin:3px;
    outline: 0;
    -webkit-appearance: none;
    font-size:0.6em;
       }
 
.text {
text-align:left;
padding:17px 54px 0 7px;

}
.time{
text-align:right;
padding:7px 7px 7px 0;

}

.submitDelete{
    position:absolute;
    right:7px;
    top:7px;
   
}

.submitEdit{
position:absolute;
    right:20px;
    top:7px;
    
}
.showDate{
    position:absolute;
    right:35px;
    top:7px;
}

.counterboard1, .counterboard2{
    font-size:0.7em;
    padding:0;
    margin:0 0 0 185px;
    
}
.submitMessage{
background:#C6C8C5;
color:#430F29;
text-shadow:none;
border-radius:200px;
font-size:14px;
padding:10px 70px;
text-transform:uppercase;
border:0;
box-shadow: none;
text-shadow:none;

}
.submitMessage:hover{
    background:#4F504F;
}